$shade-0: #ffffff;
$shade-100: #f8f9fa;
$shade-200: #e9ecef;
$shade-300: #dee2e6;
$shade-400: #ced4da;
$shade-500: #adb5bd;
$shade-600: #868e96;
$shade-700: #495057;
$shade-800: #343a40;
$shade-900: #212529;
$black: #000000;
$white: #ffffff;

$red: #dc3545;

$color-border: $shade-200;
$color-primary: #09f;
$color-primary-dark: darken($color-primary, 5%);
$color-secondary: $shade-700;